<style type="text/css">
	#jl_embed {
		font-family: "Courier New";
	}

	#jl_embed .cell {
		padding: .75rem;
	}

	#jl_embed .title {
		font-size:1.25rem;
		width:80%;
		display:inline-block;
		margin:10px 0 0 0;
	}

	#jl_embed .title a {
		text-decoration: none;
		color:#36454f; 
	}

	#jl_embed .timestamp {
		color:lightgray;
		font-size: .75rem;
	}

	#jl_embed .company {
		color:#36454f;
	}

	#jl_embed .location {
		color:gray;
		font-style:italic;
	}

	#jl_embed .tags {
		padding:0;
		margin:0;
	}

	#jl_embed .tags li {
		font-size:.8rem;
		color:white;
		background-color: gray;
		display: inline-block;
		border-radius: 2rem;
		padding: .25 .5rem .25 .5rem;
		margin: 2px;
	}

</style>

<div id="jl_embed">
	{% for job in jobs %}
	<div class="cell">
		<span class="title">
			<a target="_blank" href="{{job['link']}}">{{job['title']}}</a>
		</span>
		<p>
			<span class="company">{{job['company']}}</span> - <span class="location">{{job['location']}}</span>
		</p>
		<ul class="tags">
		{% for tag in job['tags'] %}
			<li>{{tag}}</li>
		{% endfor %}
		</ul>
	</div>
    {% endfor %}
</div>